/* Media Querie */

@media screen and (max-width: 841px){
    .cards{
      flex-wrap: wrap;
    }
    .imagem-ham{
      display: block;
    
    }
  
    .desktop-nav{
      display: none;
    }
  }