*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}



.agendamentos-table th:first-child {
  width: 80px;
}

/* Estilos da tabela de agendamentos */
.agendamentos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-bottom: 20px;
}

.agendamentos-table th,
.agendamentos-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Cores para status */
.status-livre {
  background-color: #f0f0f0;
  color: #666;
  font-style: italic;
}

.status-agendado {
  background-color: #d4edda;
  color: #155724;
  font-weight: bold;
}


body {
    margin-bottom: 120px;
    font-family: Arial, sans-serif;
    background-color: #f5f7fb;

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

  }

  /* Container */
  .container {
    padding: 30px 50px;
  }

  /* Boas-vindas */
  .welcome {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    font-size: 18px;
  }
  .welcome h2 {
    margin: 0;
    font-weight: bold;
  }
  .welcome p {
    margin-top: 8px;
    color: #666;
  }

  /* Cards */
  .cards {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    text-align: center;
  }
  .card {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    color: white;
    font-size: 18px;
  }
  .card h3 {
    margin: 0;
    font-size: 16px;
  }
  .card p {
    margin-top: 10px;
    font-size: 28px;
    font-weight: bold;
  }
  .blue { background: #1e64f0; }
  .green { background: #22c55e; }
  .orange { background: #f59e0b; }

  /* Tabela */
  table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
   
  }

  /*th, td {
    padding: 15px;
    text-align: left;
  }*/

  table:not(.agendamentos-table) th,
table:not(.agendamentos-table) td {
  padding: 15px;
  text-align: left;
}






  th {
    background: #f1f1f1;
    color: #333;
  }
  tr:nth-child(even) {
    background: #fafafa;
  }

  /* Status */
  .status {
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  .confirmado { background: #bbf7d0; color: #166534; }
  .aguardando { background: #fef08a; color: #854d0e; }
  .cancelado { background: #fecaca; color: #991b1b; }

