.footer {
    background-color: #1e64f0;
    color: #333;
    padding: 10px 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    border-top: 1px solid #ddd;
    margin-top: 1000px;
    height:60px;
    position: fixed;
    bottom: 0;
    width: 100vw;
  }
  
  .footer-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
    color: white;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }

